---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Link from "../components/Link.astro";
import FormattedDate from "../components/FormattedDate.astro";
import LuaLine from "../components/LuaLine.astro";
import { getBlogs } from "../content/blog";

const posts = (await getBlogs()).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const currentMonth = new Date().getMonth();
---

<!doctype html>
<html lang="en" class="latte dark:mocha">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="bg-base text-text h-screen m-auto p-8 flex items-center justify-center overflow-hidden"
	>
		<main
			class="py-8 max-w-2xl flex flex-col items-center space-y-0 leading-tight"
		>
			<p>KENNETHNYM v23.{currentMonth + 4}</p>
			<p class="leading-none">&nbsp;</p>
			<p>software engineer. unpaid hhkb salesman.</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<ul class="w-full">
				{
					posts.map((post) => (
						<li class="flex flex-row justify-between hover:bg-opacity-10 hover:bg-text -mx-2 px-2 rounded space-x-8">
							<Link href={`/blog/${post.slug}`}>{post.data.title}</Link>
							<FormattedDate date={post.data.pubDate} />
						</li>
					))
				}
			</ul>
		</main>
		<div class="absolute w-full h-full px-2 -z-10 leading-tight">
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
			<p>~</p>
		</div>
		<LuaLine />
	</body>
</html>
